---
---

<section id="contact" class="section-contact">
  <div class="section-container">
    <div class="section-window">
      <header class="section-header">
        <h1 class="section-title">Contacto</h1>
        <p class="section-subtitle">Hablemos de nuevos retos y oportunidades</p>
      </header>

      <div class="section-content">
        <p>Información de contacto aquí</p>
      </div>
    </div>
  </div>
</section>
