---
import "../styles/global.css";
import GalaxyCanvas from "../components/GalaxyCanvas.astro";
import KyberMenu from "../components/KyberMenu.astro";
import IntroOverlay from "../components/IntroOverlay.astro";

---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Portfolio Galaxy</title>
  </head>

  <body>
    <GalaxyCanvas />

    <!-- SABLE -->
    <img
      id="lightsaber-cursor"
      src="/sabers/saber-blue.png"
      alt="Lightsaber cursor"
    />

    <IntroOverlay />

    <KyberMenu />

    <!-- PORTALES -->
    <div id="portal-container">
      <div class="portal"><span>Sobre mí</span></div>
      <div class="portal"><span>Proyectos</span></div>
      <div class="portal"><span>Ideas Futuras</span></div>
      <div class="portal"><span>Contacto</span></div>
    </div>

    <script>
      import "../scenes/MainLightsaberCursor.ts";
    </script>
  </body>
</html>
